.paidastarefas {
    display: flex;
    gap: 12px;
    flex-direction: column;

}

.cadatarefa {
    display: flex;
    background: #333333;
    width: 100%;
    border-radius: 8px;
    flex-wrap: wrap;

}

.cadatarefa p input {

    height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    background: #333333;
    cursor: pointer;
    
  
}

.cadatarefa p button {
background: transparent;
border: 0;
color: #808080;
cursor: pointer;
line-height: 0;
border-radius: 2px;

 
}

.cadatarefa p button:hover {
color:#E25858
     
    }